.main{
  display: flex;
  justify-content: center;
  align-items:center ;
  height: 100vh;
}
.inner{
  display: flex;
  justify-content: center;
  align-items:center ;
 /* overflow: hidden; */

}
img{
  height:630px;
  width: 360px;
}
.fonts{
  position: absolute;
  margin-left: -200px;
  color: white;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.btn{
  background-color: transparent;
  outline: none;
  border: none;
  color: white ;
  font-size: 25px;
}
.img2{
  position: absolute;
  /* margin-left: ; */
  z-index: 999;
  /* opacity: 0; */
}
.haldi_rsvp, .haldi_back{
padding: 8px 10px;
background-color: black;
color: white;
border-radius: 3px;
border: 1px solid white;
}
.haldibtns{
  position: absolute;
  /* left: 0; */
  bottom: 50px;
  display: flex;
  justify-content: center;
  gap: 50px
}
.m_btn{
  background-color: transparent;
  font-size: 25px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #FED861;
  text-align: start;
  margin-left: 30px;
  }



  /* animation  */
/* App.css */
.diary-page-enter {
  opacity: 0;
}
.diary-page-enter-active {
  opacity: 1;
  transition: opacity 2000ms ease-in-out;
}
.diary-page-exit {
  opacity: 1;
}
.diary-page-exit-active {
  opacity: 0;
  transition: opacity 2000ms ease-in-out;
}

  