.main{
  display: flex;
  justify-content: center;
  align-items:center ;
  height: 100vh;
}
.inner{
  display: flex;
  justify-content: center;
  align-items:center ;
 /* overflow: hidden; */

}
img{
  height:480px;
  width: 360px;
}
.fonts{
  position: absolute;
  margin-left: 0;
  color: #8f6b55;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  /* flex-direction: column; */
  margin-top: 300px;

  gap: 30px;
  /* padding-top: 0px; */
}
.btn{
  background-color: transparent;
  outline: none;
  border: none;
  color: white ;
  font-size: 25px;
}
.img2{
  position: absolute;
  /* margin-left: ; */
  z-index: 999;
  /* opacity: 0; */
}
.haldi_rsvp, .haldi_back{
/* padding: 2px 10px; */
background-color:transparent;
color: rgb(99, 31, 5);
border-radius: 1px;
/* border: 1px solid white; */
font-family: cursive;
font-size: 12px;
border: none;
margin-left: 5px;
margin-bottom:70px;
opacity: 0;
border-radius: 50px;


}
.mehndi_back{
/* background-color:#218580; */
background-color: transparent;
color:#336750;
border-radius: 1px;
/* border: 1px solid white; */
font-family: cursive;
opacity: 0;
font-size: 10px;
border: none;
margin-left: 130px;
border-radius: 50px;
/* margin-top: -200px; */
margin-bottom: 115px;


}

.walima_back{
  background-color:#af0000;
  color: #ffffff;
  border-radius: 1px;
  /* border: 1px solid white; */
  font-family: cursive;
  font-size: 12px;
  border: none;
  margin-left: 5px;
  border-radius: 50px;
margin-bottom:60px;
opacity: 0;

  
  }
.haldibtns{
  position: absolute;
  /* left: 0; */
  bottom: 50px;
  display: flex;
  justify-content: center;
  gap: 45px;
  /* margin-left: 290px; */


}
.m_btn {
  background-color: transparent;
  font-size: 25px;
  font-family: fantasy;
  color: #916c5a;
  text-align: center;
  margin-left: 0px;
  padding-top: 50px;
  padding-bottom: 55px;
  width: 77px;
  border: none;
  animation: blink 2s infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

  /* animation  */
/* App.css */
 .diary-page-enter {
  opacity: 0;
}
.diary-page-enter-active {
  opacity: 1;
  transition: opacity 2000ms ease-in-out;
}
.diary-page-exit {
  opacity: 1;
}
.diary-page-exit-active {
  opacity: 0;
  transition: opacity 2000ms ease-in-out;
} 
