.main{
  display: flex;
  justify-content: center;
  align-items:center ;
  height: 100vh;
}
.inner{
  display: flex;
  justify-content: center;
  align-items:center ;
 /* overflow: hidden; */

}
img{
  height:480px;
  width: 360px;
}
.fonts{
  position: absolute;
  margin-left: 0;
  color: #8f6b55;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  /* flex-direction: column; */
  margin-top: 300px;

  gap: 30px;
  /* padding-top: 0px; */
}
.btn{
  background-color: transparent;
  outline: none;
  border: none;
  color: white ;
  font-size: 25px;
}
.img2{
  position: absolute;
  /* margin-left: ; */
  z-index: 999;
  /* opacity: 0; */
}

.m_btn {
  background-color: transparent;
  font-size: 25px;
  font-family: fantasy;
  color: #916c5a;
  text-align: center;
  margin-left: 0px;
  padding-top: 50px;
  padding-bottom: 55px;
  width: 77px;
  border: none;
  animation: blink 2s infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

  /* animation  */
/* App.css */
 .diary-page-enter {
  opacity: 0;
}
.diary-page-enter-active {
  opacity: 1;
  transition: opacity 2000ms ease-in-out;
}
.diary-page-exit {
  opacity: 1;
}
.diary-page-exit-active {
  opacity: 0;
  transition: opacity 2000ms ease-in-out;
} 
