.haldi_rsvp, .haldi_back{
    background-color:transparent;
    color: rgb(99, 31, 5);
    border-radius: 1px;
    font-family: cursive;
    font-size: 12px;
    border: none;
    margin-left: 15px;
    margin-bottom:10px;
    border-radius: 50px;
    padding: 40px;
    
    }
    .mehndi_back{
    background-color: transparent;
    color:#336750;
    border-radius: 1px;
    font-family: cursive;
    font-size: 10px;
    border: none;
    margin-left: 110px;
    border-radius: 50px;
    margin-bottom: 100px;
    padding: 40px;
    
    
    }
    
    .walima_back{
      background-color:transparent;
      color: hsl(0, 0%, 0%);
      border-radius: 1px;
      font-family: cursive;
      font-size: 12px;
      border: none;
      margin-left: 5px;
      border-radius: 50px;
    margin-bottom:0px;
    padding: 30px;
    
      
      }
    .haldibtns{
      position: absolute;
      margin-top: 450px;
      display: flex;
      justify-content: center;
      gap: 45px;
    
    }